<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xingfeng.opengles">

    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".chapter5.Chapter5Activity" />
        <activity android:name=".chapter5.chapter516.Chapter516Activity"/>
        <activity android:name=".chapter5.chapter515.Chapter515Activity"/>
        <activity android:name=".chapter5.chapter514.Chapter514Activity"/>
        <activity android:name=".chapter5.chapter513.Chapter513Activity"/>
        <activity android:name=".chapter5.chapter512.Chapter512Activity"/>
        <activity android:name=".chapter5.chapter510.Chapter510Activity"/>
        <activity android:name=".chapter5.chapter59.Chapter59Activity"/>
        <activity android:name=".chapter5.chapter58.Chapter58Activity"/>
        <activity android:name=".chapter5.chapter57.Chapter57Activity"/>
        <activity android:name=".chapter5.chapter56.Chapter56Activity"/>
        <activity android:name=".chapter5.chapter53.Chapter53Activity"/>
        <activity android:name=".chapter5.chapter52.Chapter52Activity" />
        <activity android:name=".chapter5.chapter51.Chapter51Activity" />

        <activity android:name=".chapter6.Chapter6Activity"/>
        <activity android:name=".chapter6.chapter61.Chapter61Activity"/>
        <activity android:name=".chapter6.chapter62.Chapter62Activity"/>
        <activity android:name=".chapter6.chapter63.Chapter63Activity"/>
        <activity android:name=".chapter6.chapter64.Chapter64Activity"/>
        <activity android:name=".chapter6.chapter65.Chapter65Activity"/>
        <activity android:name=".chapter6.chapter66.Chapter66Activity"/>
        <activity android:name=".chapter6.chapter67.Chapter67Activity"/>
        <activity android:name=".chapter6.chapter68.Chapter68Activity"/>
        <activity android:name=".chapter6.chapter69.Chapter69Activity"/>

        <activity android:name=".chapter7.Chapter7Activity"/>
        <activity android:name=".chapter7.chapter71.Chapter71Activity"/>
        <activity android:name=".chapter7.chapter72.Chapter72Activity"/>
        <activity android:name=".chapter7.chapter73.Chapter73Activity"/>
        <activity android:name=".chapter7.chapter74.Chapter74Activity"/>
        <activity android:name=".chapter7.chapter75.Chapter75Activity"/>
        <activity android:name=".chapter7.chapter76.Chapter76Activity"/>
        <activity android:name=".chapter7.chapter77.Chapter77Activity"/>
        <activity android:name=".chapter7.chapter78.Chapter78Activity"/>
        <activity android:name=".chapter7.chapter79.Chapter79Activity"/>

        <activity android:name=".chapter10.Chapter10Activity"/>
        <activity android:name=".chapter10.chapter101.Chapter101Activity"/>
        <activity android:name=".chapter10.chapter102.Chapter102Activity"/>
        <activity android:name=".chapter10.chapter103.Chapter103Activity"/>
        <activity android:name=".chapter10.chapter104.Chapter104Activity"/>
        <activity android:name=".chapter10.chapter105.Chapter105Activity"/>

        <activity android:name=".chapter20.Chapter20Activity"/>
        <activity android:name=".chapter20.chapter201.Chapter201Activity"/>
        <activity android:name=".chapter20.chapter202.Chapter202Activity"/>
        <activity android:name=".chapter20.chapter203.Chapter203Activity"/>
        <activity android:name=".chapter20.chapter204.Chapter204Activity"/>
        <activity android:name=".chapter20.chapter205.Chapter205Activity"/>
        <activity android:name=".chapter20.chapter206.Chapter206Activity"/>

        <activity android:name=".chapter22.Chapter22Activity"/>
        <activity android:name=".chapter22.chapter221.Chapter221Activity"/>
        <activity android:name=".chapter22.chapter222.Chapter222Activity"/>
        <activity android:name=".chapter22.chapter223.Chapter223Activity"/>
        <activity android:name=".chapter22.chapter224.Chapter224Activity"/>
        <activity android:name=".chapter22.chapter225.Chapter225Activity"/>
        <activity android:name=".chapter22.chapter226.Chapter226Activity"/>

        <activity android:name=".chapter23.Chapter23Activity"/>
        <activity android:name=".chapter23.chapter231.Chapter231Activity"/>
        <activity android:name=".chapter23.chapter232.Chapter232Activity"/>
        <activity android:name=".chapter23.chapter233.Chapter233Activity"/>

        <activity android:name=".StartMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter3.Chapter3Activity" />
    </application>

</manifest>